<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/20a09f50-e242-4be8-86ff-c30a93c2a466/resourceGroups/CMS_group/providers/Microsoft.Web/sites/CompilerService</ResourceId>
    <ResourceGroup>CMS_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://compilerservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>23ef16f1-d63a-409f-9aef-85f22796822a</ProjectGuid>
    <PublishUrl>https://compilerservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CompilerService</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>