<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/20a09f50-e242-4be8-86ff-c30a93c2a466/resourceGroups/CourseGrpcService_group/providers/Microsoft.Web/sites/CourseGrpcService</ResourceId>
    <ResourceGroup>CourseGrpcService_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://coursegrpcservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>141ef2bc-d764-4acf-8265-4c267f67ead4</ProjectGuid>
    <PublishUrl>https://coursegrpcservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CourseGrpcService</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>