<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/20a09f50-e242-4be8-86ff-c30a93c2a466/resourceGroups/UserGrpcService_group/providers/Microsoft.Web/sites/UserGrpcService</ResourceId>
    <ResourceGroup>UserGrpcService_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://usergrpcservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>25d3f5e6-ef3a-4cf0-8216-17d6897a2652</ProjectGuid>
    <PublishUrl>https://usergrpcservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$UserGrpcService</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>